{% extends "account/base.html" %}
{% load i18n %}

{% block content %}
    <h1> {% blocktrans %} Where are you from? {% endblocktrans %} </h1>
    <p> {% blocktrans %} Please select your {% endblocktrans %} <strong> {% blocktrans %} Identity Provider {% endblocktrans %} </strong> {% blocktrans %} from the following list: {% endblocktrans %} </p>
    <ul>
        {% for url, name in available_idps %}
        <li><a
                href="{% url 'radius:saml2_login' %}?idp={{ url }}{% if came_from %}&next={{ came_from }}{% endif %}">{{ name|default_if_none:url }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

